/*
    Icons [
 */


.icon {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    vertical-align: middle;
    background: transparent url(../img/sprite.png) 0 0 no-repeat;
}
.icon-access {
    background-position: 10px 5px;
    width: 30px;
    height: 20px;
    padding-left: 10px;
    border-left: 1px solid #c56363;
    margin-left: 5px;
}
.icon-access:before {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #dd9898;
    height: 20px;
    left: 1px;
}
.icon-email {
    background-position: -29px 4px;
    width: 20px;
    height: 20px;
    margin-right: 7px;
}
.icon-close {
    height: 24px;
    width: 24px;
    background-position: -109px 0px;
    cursor: pointer;
}
.icon-close:hover {
    background-position: -140px 0px;
}
.icon-bc-separator {
    background-position: -170px -4px;
    width: 16px;
    height: 12px;
}
.icon-doc-ex {
    width: 9px;
    height: 14px;
    background-position: -230px 1px;
    margin-right: 2px;
}
.icon-doc-clip {
    width: 19px;
    height: 19px;
    background-position: -240px 0px;
    margin-right: 2px;
}
.icon-doc {
    width: 14px;
    height: 18px;
    background-position: -480px 0px;
    vertical-align: bottom;
    margin-right: 10px;
}
.icon-prev a,
.icon-next a {
    background: transparent url(../img/sprite.png) -260px 0 no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -9999em;
}
.icon-prev a:hover,
.icon-prev a:active,
.icon-prev a:focus {
    background-position: -280px 0;
}
.icon-next a {
    background-position: -300px 0;
}
.icon-next a:hover,
.icon-next a:active,
.icon-next a:focus {
    background-position: -320px 0;
}
.icon-search {
    width: 18px;
    height: 18px;
    background-position: -340px 0;
}
.icon-close-pane {
    cursor: pointer;
    width: 11px;
    height: 11px;
    background-position: -410px 0;
    position: absolute;
    top: 18px;
    right: 14px;
}
.icon-close-pane:hover,
.icon-close-pane:active,
.icon-close-pane:focus {
    background-position: -430px 0;
}
.icon-clear {
    cursor: pointer;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 10px;
    right: 136px;
    background-position: -360px 0;
}
.icon-clear:hover,
.icon-clear:active,
.icon-clear:focus {
    background-position: -384px 0;
}
.icon-clear.is-hidden {
    display: none;
}
.icon-search-expand {
    cursor: pointer;
    background: transparent url(../img/search-pane-expander.png) center center no-repeat;
    width: 42px;
    height: 40px;
    position: absolute;
    top: 1px;
    right: 90px;
}
.icon-view,
.icon-edit,
.icon-foundation,
.icon-clone,
.icon-delete {
    width: 20px;
    height: 20px;
}
.icon-view {
    background-position: -500px 0;
}
.icon-edit {
    background-position: -520px 0;
}
.icon-foundation {
    background-position: -540px 0;
}
.icon-clone {
    background-position: -560px 0;
}
.icon-delete {
    background-position: -580px 0;
}
.icon-view:hover,
.icon-view:active,
.icon-view:focus {
    background-position: -600px 0;
}
.icon-edit:hover,
.icon-edit:active,
.icon-edit:focus {
    background-position: -620px 0;
}
.icon-foundation:hover,
.icon-foundation:active,
.icon-foundation:focus {
    background-position: -640px 0;
}
.icon-clone:hover,
.icon-clone:active,
.icon-clone:focus {
    background-position: -660px 0;
}
.icon-delete:hover,
.icon-delete:active,
.icon-delete:focus {
    background-position: -680px 0;
}
.icon-lock {
    width: 10px;
    height: 13px;
    background-position: -700px 0;
    margin-right: 3px;
    position: relative;
    bottom: 1px;
}
a:hover .icon-lock {
    background-position: -710px 0;
}
.icon-delete-service {
    background-position: -720px 0;
}
.icon-delete-service:hover,
.icon-delete-service:focus,
.icon-delete-service:active {
    background-position: -750px 0;
}
.icon-features,
.icon-cost {
    position: absolute;
    top: 2px;
    left: 0;
}
.icon-features {
    width: 18px;
    height: 14px;
}
.icon-cost {
    width: 10px;
    height: 16px;
}
.-light .icon-features {
    background-position: -840px 0;
}
.-optima .icon-features {
    background-position: -810px 0;
}
.-group .icon-features {
    background-position: -780px 0;
}
.-light .icon-cost {
    background-position: -860px 0;
}
.-optima .icon-cost {
    background-position: -830px 0;
}
.-group .icon-cost {
    background-position: -800px 0;
}
.icon-warning {
    background-position: -870px 0;
    width: 16px;
    height: 14px;
    margin-right: 4px;
}
.icon-journal {
    width: 17px;
    height: 15px;
    background-position: -890px 0;
    position: absolute;
    top: 13px;
    left: 38px;
}
.is-current .icon-journal {
    background-position: -910px 0;
}


/*
    ] Icons
 */