/*
    Pages [
    - contacts
 */


/* contacts [ */
.form-contact {
    width: 660px;
}
.captcha {
    margin-top: 30px !important;
}
.captcha-code {
    width: 108px !important;
}
/* ] contacts */


/* recovery [ */
.form-recovery {
    width: 505px;
}
.form-recovery .form-legend {
    font-size: 15px;
    width: auto;
}


/*
    ] Pages
 */